<br>
<div class="panel panel-default">
  <loading load="planTrabajoDocenteCargaDocumentos.cargando" tam="4"></loading>
  <div class="panel panel-primary panel-body" ng-if="!planTrabajoDocenteCargaDocumentos.cargando">
     <!--Cabecera del panel-->
     
    <h2 class="page-header text-center">{{'TITULO_CARGAR_SOPORTES' | translate}}</h2>
    <h3 class="text-center">Seleccione el periodo a consultar</h3>
    <div class="col-md-2 col-md-offset-5">
      <select  ng-model="periodo" class="form-control">
        <option ng-repeat="periodo in planTrabajoDocenteCargaDocumentos.periodos" ng-value="periodo">{{periodo.nombre}} </option>
      </select>
    </div>
    
    <button class="btn btn-success" ng-click="planTrabajoDocenteCargaDocumentos.cargarActividades(semestre)">{{'CONSULTAR_ACT' | translate}}</button>
    <br>
    <div class="panel-body">
      <div class="row">
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
          <div class="panel-body">

            <div class="row">
              <div ui-grid="planTrabajoDocenteCargaDocumentos.gridOptions1" class="mi-grid" id="mi-grid" ui-grid-selection ui-grid-auto-resize></div>
            </div>
            <br>
            <!-- div que se muestra cuando se selecciona una fila para anadir el soporte y muestra los tipos de adjuntos que el usuario puede hacer -->
            <div class="col-md-12" ng-if="true">
              <p>{{'DESC_ADJ' | translate}}</p>
              <!--Campo que pinta la opción archivo-->
              <fieldset class="form-group">
                <label> {{'ARC' | translate}}</label>
                <input type="checkbox" ng-model="planTrabajoDocenteCargaDocumentos.archivo" ng-change="planTrabajoDocenteCargaDocumentos.cambiarCheckArchivo()">
                <!--Campo que pinta la opción de enlace-->
                <label> {{'ENL' | translate}}</label>
                <input type="checkbox" ng-model="planTrabajoDocenteCargaDocumentos.link" ng-change="planTrabajoDocenteCargaDocumentos.cambiarCheckLink()">
              </fieldset>

              <!--Div que se visualiza al seleccionar el check archivo-->
              <div ng-if="planTrabajoDocenteCargaDocumentos.archivo">
                <div class="col-md-1">
                  <label class="control-label">{{'ARC' | translate}}</label>
                </div>
                <br>
                <form name="myForm" >
                  <input class="file" id="userUpload" name="userUpload" ng-model="userUpload" archivo-valido type="file" angular-bfi="{'showUpload':false, allowedFileExtensions:['pdf'], language:'es', maxFileSize: 2000}" file-model="planTrabajoDocenteCargaDocumentos.fileModel" required/>
                  <div ng-if="myForm.$valid">
                      <input type="submit" value="{{'SUBIR_DOCUMETO' | translate}}" class="btn btn-success">
                  </div>
                </form>
              </div>

              <!--Div que se visualiza al seleccionar el check link-->
              <div class="row">
                <div ng-if="planTrabajoDocenteCargaDocumentos.link">
                  <div class="col-md-1">
                    <label class="control-label">{{'ENL' | translate}}</label>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" ng-model="planTrabajoDocenteCargaDocumentos.enlace" required>
                  </div>
                </div>
              </div>

              <br>
              
              <div class="row">
                <div class="col-md-3">
                  <label for="observacion" class="col-form-label">{{'OBSER' | translate}}</label>
                </div>
                <div class="col-md-6">
                  <textarea rows="3" cols="50" ng-model="planTrabajoDocenteCargaDocumentos.observaciones"></textarea>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

 </div>